<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/style_index.css">
    <link rel="stylesheet" href="../static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../fontawesome-free-6.5.1-web/css/all.min.css">
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/dragndrop.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing page</title>
</head>

<body>
    <div class="midbg">
        <header>
            <h1 style="font-size: 70px;">Clothing website</h1>
        </header>

        <h2 class="desc">description place holder</h2>

        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
            <h3>Drag and drop a picture</h3>
        </div>

        <div class="container">
            <div class="row text-center">
                {% for img,imname in im_info %}
                <div class="col-xs-12 col-sm-12 col-lg-4 col-md-6"><a href="" target="_blank"><img src="{{ img }}"></a>
                    <a href="" style="text-decoration: none;" target="_blank">
                        <h2>{{imname}}</h2>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <br><br><br><br><br><br>
    <footer>
        <h5>copyrights placeholder</h5>
        <div class="social-icons">
            <a href="https://www.linkedin.com" target="_blank" class="icon"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com" target="_blank" class="icon"><i class="fab fa-github"></i></a>
        </div>
    </footer>
    </div>
</body>

</html>