.app.light {
  background-color: #ffffff; 
  color: #000000; 
}

.app.dark {
  background-color: #222222; 
  color: #ffffff; 
}

.app {
  background-color: #ffffff; 
  color: #000000; 
<<<<<<< HEAD:src/App.css
  padding-top: 100px; 
=======
  padding-top: 100px;
>>>>>>> 1bc59e173013dd97deec7c6a10cba75619a68577:react-app/src/App.css
}


.theme-toggler-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
}


