.app.light {
  background-color: #ffffff; 
  color: #000000; 
}

.app.dark {
  background-color: #222222; 
  color: #ffffff; 
}

.app {
  transition: background-color 0.5s, color 0.5s;
  background-color: #ffffff; 
  color: #000000; 
  padding-top: 100px; 
  padding-top: 100px;

}


.theme-toggler-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
}


