.footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
.content {
    flex-grow : 1;
}