.header {
  color : white;
  background-color: #ffffff; 
  border-bottom: 4px solid #000000; 
  padding: 10px 0; 
  position: fixed; 
  top: 0; 
  height : 60px;
  width: 100%; 
  z-index: 1000; 
  border-radius : 20px;
}
