.app.light {
  background-color: #ffffff; 
  color: #000000; 
}

.app.dark {
  background-color: #222222; 
  color: #ffffff; 
}

 .app {
  padding: 100%;
  background-color: #ffffff; 
  color: #000000; 

}
